#_form_1_ {
	padding: 0;
	margin: 0;

	input {
		inline-size: 100%;
	}

	._button-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap: 1rem;
		align-items: center;
		margin-block-start: 0;

		.edac-welcome-aside & {
			flex-direction: column;

			button {
				inline-size: 100%;
			}
		}
	}
}

