{
	"extends": [ "plugin:@wordpress/eslint-plugin/esnext" ],
	"env": {
		"browser": true,
		"node": false,
		"jest": true
	},
	"globals": {
		"wp": true,
		"jQuery": true,
		"edac_script_vars": true,
		"ajaxurl": true
	},
	"overrides": [
		{
			"files": [ "src/sidebar/**/*.js", "src/sidebar/**/*.jsx", "src/issueModal/**/*.js", "src/issueModal/**/*.jsx" ],
			"plugins": [ "react" ],
			"parserOptions": {
				"ecmaVersion": 2021,
				"sourceType": "module",
				"ecmaFeatures": {
					"jsx": true
				}
			},
			"rules": {
				"react/jsx-uses-vars": "error"
			}
		}
	]
}
