# Exclude these files from the git repo
.sass-cache/
edac_log.txt
#composer.lock
package-lock.json

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
prepros-6.config
vendor
node_modules
build
dist
.env

# Generated documentation
docs/swagger/

#accessibility-checker-wp-env
.auth
.wp-env.json
.wp-env


.phpunit.result.cache
