# Exclude these files from the git repo
.sass-cache/
edac_log.txt
#composer.lock
package-lock.json

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
prepros-6.config
vendor
node_modules
build
dist
.env

#accessibility-checker-wp-env
.auth


.phpunit.result.cache

# Exclude coverage reports
coverage/