parameters:
    level: 2
    paths:
        - .
    scanDirectories:
        - %currentWorkingDirectory%/vendor
    bootstrapFiles:
        - %currentWorkingDirectory%/phpstan-bootstrap.php
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor/*
            - %currentWorkingDirectory%/node_modules/*
            - %currentWorkingDirectory%/tests/*
            - %currentWorkingDirectory%/includes/deprecated/*
    fileExtensions:
        - php
