@import "variables";
@import "helpers";

.edac-highlight{
    display: inline-block;
    clear: both;
    outline: dashed 4px transparent;
    outline-offset: 5px;
    outline-color: magenta;
    &-error{
        .edac-highlight-btn{
            background: transparent url("../images/highlight-icon-error.svg") center center no-repeat;
            background-size: 46px 46px;
        }
    }
    &-warning{
        .edac-highlight-btn{
            background: transparent url("../images/highlight-icon-warning.svg") center center no-repeat !important;
        }
    }
    &-btn{
        all: unset;
        width: 46px;
        height: 46px;
        display: block;
        font-size: 0;
        border-radius: 50%;
        margin: 5px;
        &-warning{

        }
        &-error{

        }
        &:hover{
            .edac-highlight-btn{
                display: block;
            }
        }
        &:hover, &:focus {
           outline: solid 5px rgba(0,208,255,.75);
        }
    }
    &-tooltip{
        all: unset;
        max-width: 400px;
        color: $color-white;
        background-color: $color-blue-dark;
        position: absolute;
        font-size: 14px !important;
        line-height: 22px;
        font-family: sans-serif;
        padding: 10px 15px;
        top: 0;
        left: 50px;
        border-radius: 5px;
        z-index: 99;
        text-align: left;
        text-transform: none;
        letter-spacing: normal;
        p{
            all: unset;
            color: $color-white;
            text-transform: none;
            letter-spacing: normal;
            a{
                all: unset;
                color: $color-white;
                text-decoration: underline !important;
                font-weight: normal !important;
                &:hover{
                    all: unset;
                    color: $color-yellow;
                }
                &:focus{
                    all: unset;
                    outline: solid 2px $color-yellow;
                    outline-offset: 2px;
                }
            }
        }
        
        &:before{
            all: unset;
            content: '';
            width: 0; 
            height: 0; 
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent; 
            border-right:8px solid $color-blue-dark;
            position: absolute;
            left: -8px;
            top: 12px;
        }
        &-left{
            &:before{
                border-right: none;
                border-left:8px solid $color-blue-dark;
                right: -8px;
                left: auto;
            }
        }
        &-title{
            all: unset;
            font-size: 16px !important;
        }
        &-reference{
            all: unset;
            color: $color-yellow !important;
            text-decoration: none !important;
            margin-left: 5px !important;
            &:hover, &:focus{
                color: $color-white !important;
            }
            &:focus{
                outline: solid 2px $color-yellow !important;
            }
        }
    }
    &-panel{
        width: 50%;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: $color-white;
    }
}