// Color variables
$check-green: #006600;
$warning-orange: #CF8402;
$error-red: #970C0C;
$info-blue: #0073aa;
$info-grey: #1E1E1E;
$subtext-gray: #595959;
$outline-grey: #E0E0E0;

// Severity level colors
$severity-critical: #970C0C;
$severity-high: #F49D02;
$severity-medium: #F1C500;
$severity-low: #015798;

// Typography variables
$sidebar-h3-size: 0.8125rem; // 13px
$sidebar-p-size: 0.6875rem; // 11px
$sidebar-link-size: 0.6875rem; // 11px

