@use './_variables' as *;

/**
 * Global Sidebar Styles
 * Applied across all sidebar panels
 */

.edac-panel-body {
	h3 {
		font-size: $sidebar-h3-size;
	}

	p {
		font-size: $sidebar-p-size;
	}

	a {
		font-size: $sidebar-link-size;
	}
}

/**
 * WordPress Component Overrides
 * Styles for WordPress core components used in the sidebar
 */

.components-panel {
	&__body {
		&-title {
			margin-bottom: 0 !important;
		}

		&.is-opened &-title {
			border-bottom: 1px solid $outline-grey;
		}
	}

	&__row {
		padding-top: 16px;
	}
}
