@use "variables";

.edac-highlight-panel .edac-fix-settings--fields {
	input, select, textarea {
		/* Styles on a parent alement set `all` to none making everything invisible, need to revert that here. */
		all: revert;
	}
}

.edac-fix-modal-present #TB_ajaxContent {
	width: auto !important;
	height: auto !important;
	max-height: 70vh !important;
	overflow-y: auto;
}

.edac-fix-settings {

	&--fields{
		display: none !important;

		.edac-fix-settings--open & {
			display: block !important;
		}

		label {
			display: block;
			margin-bottom: 1rem;
		}

		input,
		select,
		textarea {
			width: 100%;
			padding: 0.5rem;
			margin: 0.25rem 0;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		input[type="checkbox"] {
			border: 1px solid #ccc;
			border-radius: 5px;
			margin: 0 .5rem 0 0;
			padding: 0 !important;
			width: auto;

			&:before {
				content: none;
			}
			&:checked:before {
				content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
				margin: -.1875rem -0.25rem 0 -.25rem;
				height: 1.3125rem;
				width: 1.3125rem;
			}
		}

		input[type="text"] {
			padding: 0.25rem 0.5rem;
		}
	}

	#TB_ajaxContent & {

		&--fields {
			display: block !important;
		}

		&--action-row {
			display: flex !important;
		}

		.modal-opening-message {
			padding: 0;
			margin-bottom: 0;
		}

	}

	&--fields {
		.edac-highlight-panel & {
			background: #222222;
			padding: 10px;
		}
	}

	&--action-row {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		margin-top: 1rem;
	}

	&--button {
		&--save {
			padding: 5px 8px;
			background: blue;
			color: white;

			&:hover,
			&:focus {
				background: #072446 !important;
				color: white !important;
			}

			:focus {
				outline: 2px solid #000 !important;
				outline-offset: 2px !important;
			}
		}
	}

	&--notice-slot {
		margin: 0.25rem;
	}
}

.edac-fixes-modal {

	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000000001;
	max-height: 90vh;
	overflow: auto;

	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

	.dashicons,
	.dashicons-before:before {
		font-family: dashicons;
		display: inline-block;
		line-height: 1;
		font-weight: 400;
		font-style: normal;
		speak: never;
		text-decoration: inherit;
		text-transform: none;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 20px;
		height: 20px;
		font-size: 20px;
		vertical-align: top;
		text-align: center;
		transition: color .1s ease-in;
	}

	&__overlay {
		display: none;
		height: 100vh;
		width: 100%;
		background-color: #000000b0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000000000;
	}

	//&__content {
	//	background: #fff;
	//	padding: 20px;
	//	border-radius: 5px;
	//	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	//}

	&__header {
		margin-bottom: 0.5rem;

		h2 {
			font-size: 1.25rem;
			font-weight: 600;
			margin-bottom: 0;
			align-self: center;
			display: block;
		}
	}

	h3 {
		font-size: 1.1rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
		display: block;
	}

	&__close {
		border: none;
		cursor: pointer;
		height: 35px;
		width: 35px;
		position: absolute;
		top: 5px;
		right: 5px;
		color: variables.$color-blue-dark;

		.dashicons, .dashicons::before {
			vertical-align: middle;
			display: block;
			margin: auto;
			color: variables.$color-blue-dark !important;
		}

		&:hover,
		&:focus {
			background-color: variables.$color-yellow;
			color: variables.$color-blue-dark;
		}
	}
}

body.edac-fixes-modal--open {

	overflow: hidden;

	.edac-fixes-modal {
		display: block;

		&__overlay {
			display: block;
		}
	}
}

.edac-fix-description-help-link {
	.dashicons-info {

		color: variables.$color-gray;
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}

		:focus {
			outline: revert;
			outline-offset: revert;
		}
	}
}

.edac-fix--upsell-link,
.edac-setting--upsell-link {
	font-weight: 600;
	background: #f3cd1e;
	border-radius: 18px;
	color: #072446;
	display: inline-block;
	font-size: 0.75rem;
	line-height: 1;
	padding: 4px 8px;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #072446;
		text-decoration: underline;
	}

	&:focus {
		outline: revert !important;
		outline-offset: revert !important;
	}
}

.hide-fixes-source {
	display: none;
}

body.block-editor-page {
	.hide-in-editor {
		display: none;
	}

	.modal-opening-message {
		margin: 0;
		padding: 0;
	}
}
