.edac-highlight {
  display: inline-block;
  clear: both;
  outline: dashed 4px transparent;
  outline-offset: 5px;
  outline-color: magenta; }
  .edac-highlight-error .edac-highlight-btn {
    background: transparent url("../images/highlight-icon-error.svg") center center no-repeat;
    background-size: 46px 46px; }
  .edac-highlight-warning .edac-highlight-btn {
    background: transparent url("../images/highlight-icon-warning.svg") center center no-repeat !important; }
  .edac-highlight-btn {
    all: unset;
    width: 46px;
    height: 46px;
    display: block;
    font-size: 0;
    border-radius: 50%;
    margin: 5px; }
    .edac-highlight-btn:hover .edac-highlight-btn {
      display: block; }
    .edac-highlight-btn:hover, .edac-highlight-btn:focus {
      outline: solid 5px rgba(0, 208, 255, 0.75); }
  .edac-highlight-tooltip {
    all: unset;
    max-width: 400px;
    color: #ffffff;
    background-color: #072446;
    position: absolute;
    font-size: 14px !important;
    line-height: 22px;
    font-family: sans-serif;
    padding: 10px 15px;
    top: 0;
    left: 50px;
    border-radius: 5px;
    z-index: 99;
    text-align: left;
    text-transform: none;
    letter-spacing: normal; }
    .edac-highlight-tooltip p {
      all: unset;
      color: #ffffff;
      text-transform: none;
      letter-spacing: normal; }
    .edac-highlight-tooltip:before {
      all: unset;
      content: '';
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid #072446;
      position: absolute;
      left: -8px;
      top: 12px; }
    .edac-highlight-tooltip-left:before {
      border-right: none;
      border-left: 8px solid #072446;
      right: -8px;
      left: auto; }
    .edac-highlight-tooltip-title {
      all: unset;
      font-size: 16px !important; }
    .edac-highlight-tooltip-reference {
      all: unset;
      color: #f3cd1e !important;
      text-decoration: none !important;
      margin-left: 5px; }
      .edac-highlight-tooltip-reference:hover, .edac-highlight-tooltip-reference:focus {
        color: #ffffff !important; }
      .edac-highlight-tooltip-reference:focus {
        outline: solid 2px #f3cd1e !important; }
