$extra-large-screen-width: 1400px;
$large-screen-width: 1140px;
$standard-screen-width: 960px;
$medium-screen-width: 768px;
$small-screen-width: 600px;

$color-white: #ffffff;
$color-black: #000000;
$color-gray-lightest: #f8f8f8;
$color-gray-light: #e2e4e7;
$color-dark-gray: #484848;
$color-gray: #737373;
$color-red: #b30f0f;
$color-green: #006600;
$color-yellow: #f3cd1e;
$color-blue-dark: #072446;
$color-blue: #3273aa;
$color-orange: #f3cd1e;

$font-size-large: 1.2rem;
$font-size-medium: 1rem;
$font-size-small: .8rem;
$font-size-x-small: .6rem;

