@import "../../globals/sass/variables" ;
@import "../../globals/sass/helpers";


body.edac-app-disable-styles {
    padding: .5rem (46px + 46px ) !important; //make sure button is visible
    #wpadminbar { display: none !important; }
}

.edac-highlight{

    all: unset;

    * {
        all: unset;
    }

    
    display: inline-block;
    clear: both;

    &-element-selected{
        outline: dashed 4px transparent !important;
        outline-offset: 5px !important;
        outline-color: magenta !important;
    }

    &-btn{
        all: unset;
        width: 46px !important;
        height: 46px !important;
        display: block !important;
        font-size: 0 !important;
        border-radius: 50% !important;
        margin: 5px !important;
        position: absolute !important;

        &-error{
            background: transparent url("../images/highlight-icon-error.svg") center center no-repeat !important;
            background-size: 46px 46px !important;
        }
        &-warning{
             background: transparent url("../images/highlight-icon-warning.svg") center center no-repeat !important;
        }
        &-ignored{
            background: transparent url("../images/highlight-icon-ignored.svg") center center no-repeat !important;
        }
       
        &-selected, &:hover, &:focus {
           outline: solid 5px rgba(0,208,255,.75) !important;
        }
    }
    &-panel{
        
        * {
            all: unset;
        }

        width: 400px !important;
        max-width: 400px !important;
        position: fixed !important;
        bottom: 15px !important;
        right: 15px !important;
        z-index: 9999 !important;
        &-toggle{
            width: 50px !important;
            height: 50px !important;
            display: block;
            background: transparent url("../images/edac-emblem.png") center center no-repeat !important;
            background-size: contain !important;
            box-shadow: 0 0 5px rgba($color-black,.5) !important;
            border-radius: 50% !important;
            position: relative !important;
            float: right !important;
            &:hover, &:focus {
                cursor: pointer !important;
                outline: solid 5px rgba(0,208,255,.75) !important; 
            }
        }
        &-description {
            max-height: calc( 100vh - 230px ) !important;
            display: block;
            border: solid 1px $color-gray-light !important;
            background-color: $color-white !important;
            margin-bottom: 15px !important;
            padding: 15px !important;
            color: $color-white !important;
            background-color: $color-blue-dark !important;
            font-size: 14px !important;
            line-height: 22px !important;
            font-family: sans-serif !important;
            text-align: left !important;
            display: none;
            overflow-y: scroll !important;
            box-shadow: 0px 0px 5px rgba($color-black, .25) !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
            &:focus {
                //outline: solid 5px rgba(0,208,255,.75);
            }
            &-title{
                font-size: 16px !important;
                display: block !important;
                font-weight: bold !important;
                margin-bottom: 5px !important;
            }
            &-type{
                font-size: 12px !important;
                padding: 5px 7px !important;
                border-radius: 4px !important;
                font-size: 12px !important;
                line-height: 12px !important;
                margin-left: 10px !important;
                display: inline-block !important;
                text-transform: capitalize !important;
                position: relative !important;
                top: -2px !important;
                &-error{
                    color: $color-white !important;
                    background-color: $color-red !important;
                }
                &-warning{
                    color: $color-blue-dark !important;
                    background-color: $color-yellow !important;
                }
                &-ignored{
                    color: $color-white !important;
                    background-color: $color-blue !important;
                }
            }
            &-index{
                font-size: 16px !important;
                display: block !important;
                font-weight: bold !important;
                margin-bottom: 5px !important;
            }
            &-status{
                color: $color-white !important;
                display: block !important;
                background-color: $color-red !important;
                padding: 10px 15px !important;
                margin-top: 10px !important;
                margin-bottom: 10px !important;
            }
            &-reference,
            &-code-button{
                all: unset;
                color: $color-blue-dark !important;
                background-color: $color-yellow !important;
                padding: 4px 10px !important;
                display: inline-block !important;
                margin-top: 10px !important;
                margin-right: 10px !important;
                &:hover, &:focus, &[aria-expanded="true"]{
                    color: $color-blue-dark !important;
                    background-color: $color-white !important;
                    cursor: pointer !important;
                }
            }
            &-reference{
                text-decoration: none !important;
            }
            &-code-button{
            }
            &-code{
                color: $color-black !important;
                display: block;
                background-color: $color-white !important;
                padding: 10px 15px !important;
                display: none;
                margin-top: 10px !important;
            }
            &-close{
                width: 25px !important;
                height: 25px !important;
                color: $color-blue-dark !important;
                background-color: $color-yellow !important;
                font-size: 18px !important;
                line-height: 25px !important;
                position: absolute !important;
                top: 1px !important;
                right: 1px !important;
                text-align: center !important;
                &:hover, &:focus{
                    cursor: pointer !important;
                    color: $color-blue-dark !important;
                    background-color: $color-white !important;
                }
            }
        }
        &-controls {
            color: $color-white !important;
            display: block;
            background-color: $color-blue !important;
            border: solid 1px $color-gray-light !important;
            display: none;
            box-shadow: 0px 0px 5px rgba($color-black, .15) !important;
            position: relative !important;
            padding: 15px !important;
            font-size: 14px !important;
            line-height: 22px !important;
            font-family: sans-serif !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
            &:focus {
               // outline: solid 1px rgba(0,208,255,.75);
            }
            &-title{
                font-size: 16px !important;
                display: block !important;
                font-weight: bold !important;
                margin-bottom: 5px !important;
            }
            &-close{
                width: 25px !important;
                height: 25px !important;
                color: $color-blue-dark !important;
                background-color: $color-yellow !important;
                font-size: 18px !important;
                line-height: 25px !important;
                position: absolute !important;
                top: 0px !important;
                right: 0px !important;
                text-align: center !important;
                &:hover, &:focus{
                    cursor: pointer !important;
                    color: $color-blue-dark !important;
                    background-color: $color-white !important;
                }
            }
            &-summary{
                display: block !important;
            }
            &-buttons{
                display: grid !important;
                grid-template-columns: repeat(2, 1fr) !important;
                button{
                    all: unset;
                    color: $color-white !important;
                    background-color: $color-blue-dark !important;
                    padding: 4px 10px !important;
                    display: inline-block !important;
                    margin-top: 10px !important;
                    margin-right: 10px !important;
                    &:hover, &:focus{
                        color: $color-blue-dark !important;
                        background-color: $color-white !important;
                        cursor: pointer !important;
                    }
                }
            }
            .edac-highlight-disable-styles{
                float: right !important;
                margin-right: 0 !important;
            }
        }
    }
}