.is-selected {

	.text-format-sr-only {
		border-radius: 0;
		box-shadow: 0 0 0 2px #f0f;
		position: relative;
	}

	.text-format-sr-only::after {
		content: "*";

		background: #f0f;
		border-radius: 0;
		color: #000;
		font-family: Verdana, sans-serif;
		font-size: 11px;
		line-height: 1.2;
		padding-inline: 3px;
		pointer-events: none;
		text-decoration: none;
		text-indent: 0;
		white-space: nowrap;

		position: absolute;
		inset: logical 100% -2px auto auto;
		z-index: 1;
	}
}

.sr-only-show-always .text-format-sr-only {
	border-block-end: 2px solid #f0f;
	border-radius: 0;
}

// stylelint-disable-next-line no-descending-specificity
body:not(.sr-only-show-always) .text-format-sr-only:not(.is-selected .text-format-sr-only),
.editor-styles-wrapper:not(.sr-only-show-always) .text-format-sr-only:not(.is-selected .text-format-sr-only) {
	// Local variables.
	$size: 1px;
	$size-negative: -1 * $size;

	// stylelint-disable-next-line no-descending-specificity
	&[class] {
		pointer-events: none;
		user-select: none;

		outline: 0;

		overflow: hidden;
		text-decoration: none;
		white-space: nowrap;

		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;

		clip-path: inset(50%);
		clip: rect($size, $size, $size, $size);
		margin-block-start: $size-negative;
		margin-inline-start: $size-negative;
		inline-size: $size;
		block-size: $size;
	}
}
