<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/../../../wp-includes/sodium_compat/tests" />
        <option value="$PROJECT_DIR$/../wp-crontrol/tests" />
        <option value="$PROJECT_DIR$/../frontend-users-table/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/../frontend-users-table2/tests" />
      </list>
    </option>
  </component>
</project>