name: Lint JS

on:
  # Run on pushes to select branches and on all pull requests.
  push:
    branches:
      - master
      - develop
      - trunk
      - 'feature/**'
      - 'release/**'
      - 'hotfix/[0-9]+.[0-9]+*'
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    name: "Lint: JS"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # The lint stage doesn't run the unit tests or use code style, so no need for PHPUnit, WPCS or phpcompatibility.
      - name: 'Install NPM packages'
        run: npm install
      - name: 'Run ESLint'
        run: npm run lint:js
